@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}


.semlogo:hover {
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
